@import './_reset.css';
@import './tailwind/index.css';

.ani-1 {
  animation: ani1 10s linear infinite;
}

.ani-3 {
  animation: ani3 1.5s linear infinite;
  transform-origin: center bottom;
  transform: translate(0px, 0px);
}

@keyframes ani1 {
  0% {
    transform: rotate(-5deg);
  }

  10% {
    transform: rotate(5deg);
  }

  20% {
    transform: rotate(-5deg);
  }

  30% {
    transform: rotate(5deg);
  }

  40% {
    transform: rotate(-5deg);
  }

  50% {
    transform: rotate(5deg);
  }

  60% {
    transform: rotate(-5deg);
  }

  70% {
    transform: rotate(5deg);
  }

  80% {
    transform: rotate(-5deg);
  }

  80%,
  100% {
    transform: rotate(0deg);
  }
}

@keyframes ani3 {
  0% {
    transform: translate(0px, 0px);
  }

  20% {
    transform: translate(0px, -10px);
  }

  30% {
    transform: translate(0px, -5px);
  }

  40% {
    transform: translate(0px, -10px);
  }

  50% {
    transform: translate(0px, -5px);
  }

  60% {
    transform: translate(0px, -10px);
  }

  70% {
    transform: translate(0px, -5px);
  }

  80% {
    transform: translate(0px, -10px);
  }

  80%,
  100% {
    transform: translate(0px, 0px);
  }
}
